<!-- START FOOTER -->
<div class="footer">
  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td class="content-block">
        <span class="apple-link">
          Stay up to date by following us on 
          <a href="https://x.com/lendasat">X.com</a> or 
          <a href="https://nostr.band/nprofile1qqs94l0vtwjq6nqyw7gp09gwjyrr9202nt4jl5aly4ah2hmv9433hcgtncrpz">Nostr</a>
        </span>
      </td>
    </tr>
    <tr>
      <td class="content-block">
        <span class="apple-link">
          <a href="https://tos.lendasat.com">Terms of Service</a>
          {{#if notification_settings_url}}
            | <a href="{{notification_settings_url}}">Edit Notification Settings</a>
          {{/if}}
        </span>
      </td>
    </tr>
    <tr>
      <td class="content-block">
        <span class="apple-link">© 2025 Lendasat, All Rights Reserved.</span>
      </td>
    </tr>
  </table>
</div>
<!-- END FOOTER -->