{{#> base}}
  <table role="presentation" class="main">
    <!-- START MAIN CONTENT AREA -->
    <tr>
      <td class="wrapper">
        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
              <p>Hi {{first_name}},</p>
              <p>The reference price of XBTUSD recently dropped to {{latest_price}}.
                Your position had a liquidation price of {{liquidation_price}}.
                Because of this your position has been taken over by the Liquidation Engine. </p>

              <p>If you need assistance, feel free to contact our support team.</p>

              <p>Thank you,<br>
                The Lendasat Team</p>

            </td>
          </tr>
        </table>
      </td>
    </tr>

    <!-- END MAIN CONTENT AREA -->
  </table>
{{/base}}
