{{#> base}}
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <!-- START CENTERED WHITE CONTAINER -->
          <table role="presentation" class="main">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p>Hi {{first_name}},</p>
                      <p>
                        You have started a dispute. Please email us under <a
                        href="mailto:dispute@lendasat.com">dispute@lendasat.com</a> and describe your
                        situation.
                        To help us resolve this issue fast add as much information as possible,
                        including:
                      <ul>
                        <li>Loan amount</li>
                        <li>Collateral amount</li>
                        <li>Funding transaction id</li>
                        <li>Loan payout transaction id</li>
                      </ul>

                      You can always check the dispute's status here <a href={{url}}>{{url}}</a>.

                      </p>
                      <p>We are here to help.</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
{{/base}}
