{{#> base}}
  <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
    <tr>
      <td>&nbsp;</td>
      <td class="container">
        <div class="content">
          <!-- START CENTERED WHITE CONTAINER -->
          <table role="presentation" class="main">
            <!-- START MAIN CONTENT AREA -->
            <tr>
              <td class="wrapper">
                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <p>Hi {{first_name}},</p>
                      <p>
                        We've been informed that you've initiated a contract dispute. We will look into it as soon as possible.

                        If you want to provide further context, send us an email at <a href="mailto:dispute@lendasat.com">dispute@lendasat.com</a> referencing your dispute ID.

                        You can always check the status of your dispute <a href={{url}}>here</a>.
                      </p>

                      <p>Thank you,</p>

                      <p>The Lendasat Team</p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <!-- END MAIN CONTENT AREA -->
          </table>
          <!-- END CENTERED WHITE CONTAINER -->
        </div>
      </td>
      <td>&nbsp;</td>
    </tr>
  </table>
{{/base}}
