{{#> base}}
<table role="presentation" class="main">
    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <p>Hi {{first_name}}!</p>

                        <p>To verify your email address, use the link below.</p>

                        <p><a href="{{url}}">Verify my email address</a></p>

                        <p>Thanks,</p>

                        <p>The Lendasat Team</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- END MAIN CONTENT AREA -->
</table>
{{/base}}
